* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Alkatra", sans-serif;
}

body {
    background: #F6F9FF;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: #181717;
    background-color: #fff8dd ;
}

header {
    display: flex;
    background-color: #F09675;
    padding-top: 1%;
    align-items: center;
    justify-content: center;
    height: 8%;
    margin-bottom: 0%;
}

header ul {
    padding-top: 1%;
    display: flex;
    align-items: center;
    list-style: none;
    margin-bottom: 0;
}

header ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
}

header ul li img {
    width: 30px;
    transition: all 0.4s;
    cursor: pointer;
    filter: drop-shadow(3px 2px 1px rgba(0, 0, 0, .5));
}

header ul li h5 {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

header ul li:hover h5 {
    opacity: 1;
}

header ul li img:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-filter: drop-shadow(5px 2px 1px rgba(0, 0, 0, .5));
}

main {
    margin-top: 0%;
    display: flex;
    padding: 2%;
    padding-bottom: 0%;
    justify-content: space-between;
    flex-flow: wrap;
    margin-bottom: 0%;

}

main.disciplinas{
    padding-top: 5%;
    
}

section {
    text-align: center;
    padding-top: 0%;
    padding-right: 2%;
    margin-top: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(0, 14, 15);
    transition: 1s;
    padding: 10px;
    transition: all 0.5s;
    cursor: pointer;
    margin-bottom: 5%;
    color: white


}



section{


    background-image: linear-gradient(to right, antiquewhite, #F09675);
    color: black;
-webkit-filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, .5));
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (max-width:720px) {
    header {
        margin: 0;
        justify-content: center;
    }

    header ul {
        margin-right: 0%;
        margin-left: 0;
    }

    header ul li img {
        margin: 0;
        width: 4vh;
    }

    header ul li {
        margin-right: 0;
    }

    section {
        width: 100%;
        align-items: center;
    }

    .icon img {
        width: 40%;
    }

    section h3 {
        margin-top: 2%;
        font-size: 2vh;
        text-align: center;
    }

    main {
        width: 100%;
        height: 91vh;
    }

    .disciplinas:nth-child(5) {
        margin: 0;
    }

    .disciplinas:nth-child(6) {
        margin: 0;
    }

    footer {
        margin: 0;
        padding: 0;
    }
}
