* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Alkatra", sans-serif;
}

body {
    background: #F6F9FF;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: #181717;
    background-color: #fff8dd ;
}

header {
    display: flex;
    background-color: #F09675;
    padding-top: 1%;
    align-items: center;
    justify-content: center;
    height: 8%;
    margin-bottom: 0%;
}

header ul {
    padding-top: 1%;
    display: flex;
    align-items: center;
    list-style: none;
    margin-bottom: 0;
    margin-left: 1%;
    
}

header ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
}

header ul li img {
    width: 30px;
    transition: all 0.4s;
    cursor: pointer;
    filter: drop-shadow(3px 2px 1px rgba(0, 0, 0, .5));
}

header ul li h5 {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

header ul li:hover h5 {
    opacity: 1;
}

header ul li img:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-filter: drop-shadow(5px 2px 1px rgba(0, 0, 0, .5));
}

main {
    margin-top: 0%;
    display: flex;
    padding: 15%;
    padding-bottom: 0%;
    justify-content: space-between;
    flex-flow: wrap;
    margin-bottom: 0%;
    max-height:500px ;

}

main.disciplinas{
    padding-top: 2%;

    
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
    padding: 0;
    
    
}


aside   {
    margin: 2% ;
    width: 40vh;
    height: 100vh;
    max-height:550px ;
    background-color: #F09675;
}

a section {
    padding-top: 0%;
    margin-top: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vh;
    height: 30vh;
    border: 1px solid rgb(0, 14, 15);
    transition: 1s;
    border-radius: 10%;

    transition: all 0.5s;
    cursor: pointer;
    margin-bottom: 5%;
    color: white;

}



section.dataBase{
    
    background-image: url(../imgs/disc/istockphoto-1400292331-170667a.jpg);
    background-image:  linear-gradient(to right, blue,  );    
    background-repeat: no-repeat;
    background-position: center;
    margin-right:10px; 
    text-shadow: 3px 2px 1px rgb(22, 20, 20);
}
section.engSoftware{
    background-color: rgba(59, 233, 210, 0.4);
    background-image: url(../imgs/disc/eng.png);
    margin-right:10px; 
    text-shadow: 3px 2px 1px rgb(22, 20, 20);
    background-repeat: no-repeat;
    background-position: center;
}
section.algoritmos{
    background-color: rgba(192, 59, 233, 0.4);
    background-image: url(../imgs/disc/algoritm.jpg);
  
    text-shadow: 3px 2px 1px rgb(22, 20, 20);
    background-repeat: no-repeat;
    background-position: center;
}

a{
    text-decoration: none;
}

a h3{
    color: white;
}
section.redes{
    background-color: #e9d83b66;
    background-image: url(../imgs/disc/redes.jpg.crdownload);
    text-shadow: 3px 2px 1px rgb(22, 20, 20);
    background-repeat: no-repeat;
    background-position: center;
    margin-right:10px; 
}

section.design{
    background-color: rgba(240, 213, 123, .4);
    background-image: url(../imgs/disc/design.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-right:10px; 
    text-shadow: 3px 2px 1px rgb(22, 20, 20);
}

section.web{
    background-color: rgba(233, 59, 59, 0.4);
    background-image: url(../imgs/disc/web.png);

    text-shadow: 3px 2px 1px rgb(22, 20, 20);
    background-repeat: no-repeat;
    background-position: center;
}
.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    width: 28%;
    align-items: center;
    margin: 1%;
}

section:hover {
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, .5));
    background-color: rgba(144, 194, 231, 0.6);
    font-size: 2.5vh;
    color: antiquewhite;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-background-composite: initial;
}

section:hover h3 {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    margin-bottom: 15%;
    color: #F09675;
}

section:hover img {
    margin-bottom: 9%;
}

.logoDsm {
    margin-right: 35%;
}

header ul {
    display: flex;
}

header ul li {
    margin: 15px;
}

main {
    display: flex;
    text-align: center;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;

}

.azul {
    border-left: 3px solid #035ad4;
}

.amarelo {
    border-left: 3px solid #f3ef09;
}

.verde {
    border-left: 3px solid #3d9403;
}

.vermelho {
    border-left: 3px solid #b3404a;
}

.roxo {
    border-left: 3px solid purple;
}





footer {
    display: flex;
    background-color: black;
    color: #F6F9FF;
    justify-content: center;
}

@media screen and (max-width:720px) {

    header {
        margin: 0;
        justify-content: center;
    }

    header ul {
        margin-right: 0%;
        margin-left: 0;
    }

    header ul li img {
        margin: 0;
        width: 4vh;
    }

    header ul li {
        margin-right: 0;
    }

    a section {
        width: 30vh;
        height: 18vh;
        align-items: center;

    }

    .icon img {
        width: 40%;
    }

    section h3 {
        margin-top: 2%;
        font-size: 2vh;
        text-align: center;
    }
    aside{
        display: none;
    }


    section.algoritmos{
        margin-right: 10px;
    }

    .disciplinas:nth-child(5) {
        margin: 0;
    }

    .disciplinas:nth-child(6) {
        margin: 0;
    }

    footer {
        margin: 0;
        padding: 0;
    }
}
