* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


body {
    background: #F6F9FF;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: #434343;
}

header {
    padding: 7px;
    display: flex;
    background-color: antiquewhite;
}

main {
    display: flex;
    padding: 5%;

    justify-content: space-between;
    flex-flow: wrap;
    
}

section{
    justify-content: center;
    align-items: center; 
    width: 350px;
    height: 250px;
    border: 1px solid black;
    margin-right: 5%;
    margin-bottom: 5%;
    transition: 1sz;
    border-radius: 10%;
    
}

.algoritmos{
    margin: 5px;
}


section:hover{
    background-color: rgb(26, 146, 106);
}

.logoDsm {
    margin-right: 35%;
}

header ul {

    display: flex;
}

header ul li {
    margin: 15px;
}

main {
    display: flex;
    background-color: aquamarine;
}