* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


body {
    background: #F6F9FF;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: #434343;
}

header {
    padding: 7px;
    display: flex;
    background-color: antiquewhite;
}

header .logoDsm img{
    width:  60px;
    margin-top: 5%;
    margin-left: 4%;
}


header ul{
    list-style: none ;
}


header ul li img{
    width: 30px;
    transition: all 0.4s;
    cursor: pointer;

}

header ul li img:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-filter: drop-shadow(5px 2px 1px rgba(0,0,0,.5));
}

main {
    display: flex;
    padding: 5%;

    justify-content: space-between;
    flex-flow: wrap;
    
}

section{
    
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 350px;
    height: 250px;
    border: 1px solid black;
    margin-right: 2%;
    margin-bottom: 5%;
    transition: 1sz;
    border-radius: 10%;
    padding: 10px;

    transition: all 0.5s;
    cursor: pointer;
    
}


.conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

 .icon img{
    width: 60px;
}

.algoritmos{
    margin: 5px;
}


section:hover{
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    background-color: rgb(111, 252, 205);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);


}

section img:hover{

    opacity: 0.5;
}

.logoDsm {
    margin-right: 35%;
}

header ul {

    display: flex;
}

header ul li {
    margin: 15px;
}

main {
    display: flex;
    background-color: rgb(91, 135, 255);
}